<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="overdueFeeRate">
            <h2><span jhiTranslate="libraryCmsApp.overdueFeeRate.detail.title">Overdue Fee Rate</span> {{overdueFeeRate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryCmsApp.overdueFeeRate.afterDays">After Days</span></dt>
                <dd>
                    <span>{{overdueFeeRate.afterDays}}</span>
                </dd>
                <dt><span jhiTranslate="libraryCmsApp.overdueFeeRate.dayRate">Day Rate</span></dt>
                <dd>
                    <span>{{overdueFeeRate.dayRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/overdue-fee-rate', overdueFeeRate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
