<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryCmsApp.bookLoan.home.title">Book Loans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-loan" [routerLink]="['/book-loan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryCmsApp.bookLoan.home.createLabel">
            Create a new Book Loan
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bookLoans?.length === 0">
        <span jhiTranslate="libraryCmsApp.bookLoan.home.notFound">No bookLoans found</span>
    </div>
    <div class="table-responsive" *ngIf="bookLoans?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="loanStartTimestamp"><span jhiTranslate="libraryCmsApp.bookLoan.loanStartTimestamp">Loan Start Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="declaredLoanEndTimestamp"><span jhiTranslate="libraryCmsApp.bookLoan.declaredLoanEndTimestamp">Declared Loan End Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bookId"><span jhiTranslate="libraryCmsApp.bookLoan.book">Book</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clientId"><span jhiTranslate="libraryCmsApp.bookLoan.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookLoan of bookLoans ;trackBy: trackId">
                <td><a [routerLink]="['/book-loan', bookLoan.id, 'view' ]">{{bookLoan.id}}</a></td>
                <td>{{bookLoan.loanStartTimestamp | date:'medium'}}</td>
                <td>{{bookLoan.declaredLoanEndTimestamp | date:'medium'}}</td>
                <td>
                    <div *ngIf="bookLoan.bookId">
                        <a [routerLink]="['/book', bookLoan.bookId , 'view' ]" >{{bookLoan.bookId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bookLoan.clientId">
                        <a [routerLink]="['/client', bookLoan.clientId , 'view' ]" >{{bookLoan.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/book-loan', bookLoan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/book-loan', bookLoan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/book-loan', { outlets: { popup: bookLoan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bookLoans?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
